body {
      font-family: 'Maven Pro', sans-serif;
      font-family: 'Poppins', sans-serif;
      font-family: 'Roboto', sans-serif;
}
#div-1{
      text-align: center;
      padding-left: 30%;
      padding-right: 30%;
      padding-top: 100px;
      color: rgb(231, 237, 238);
      font-weight: 900;
      text-shadow: 5px 5px 15px rgb(0, 0, 0);
      
      
}
#section-1{
      background-image:linear-gradient(rgba(105, 100, 100, 0.342), rgba(212, 203, 203, 0.233)), url(donation3.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 500px;
      background-color: #cccccc;
     display: ;
}
.header-1{
      font-size: 50px;
}
.button-link{
      background-image: linear-gradient(rgb(255, 81, 0), rgb(253, 19, 19));
      text-decoration: none;
      padding-left: 10px;
      padding-right: 10px;
      color: blanchedalmond;
      border-radius: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
}
.flexible-container{
      display: flex;
      margin-left: 8%;
      margin-right: 8%;
      
      padding-left: 50px;
}
.amount{
      padding: 50px;
      background-color: lightgray ; 
      margin-left: 5px;
      font-size: 30px;
      font-weight: 600;
      color: rgb(121, 119, 119) ;
      height: 30px;
      width: 80px;
      text-align: center;
}
.amount:hover{
      padding: 50px;
      background-color: rgb(238, 208, 226) ; 
      margin-left: 5px;
      border: 3px rgb(238, 122, 122) solid;
      
}
#donate-today{
      font-weight: 800;
      text-align: center;
      margin-top: 50px;
      margin-left: 30%;
      margin-right: 30%;
      
} 
#input{
     /* margin-left: 30%; */
     font-size: 20px;
     font-weight: 700;
     text-align: center;
    
   
     
}
#donate-now{
     margin-left: 43%;
    
}
#input-field{
      border: 2px white solid;
}
#donate-plan{
      text-align: center;
      font-weight: 700;
      margin: 60px;
      margin-left: 20%;
      margin-right: 20%;
}
.flex-conatainer{
      display: flex;
      margin-left: 30px;
      margin-right: 30px;
      text-align: left;
    

}
.items{
      box-shadow: 10px 10px 35px rgb(139, 139, 137);
      width: 60%;
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 10px;
      text-align: center;
      border-radius: 15px;
      border: 5px green solid;
}
.items:hover{
      color: rgb(253, 254, 255);
      background-color: rgb(77, 75, 75);}
 img{
      height:50px;
      width: 50px;
      margin-top: 30px;
      border-radius: 50%;
 }     
      
